@media (min-width: 320px) and (max-width: 480px){
    .menu{
        display: none;
    }
    .no{
        display:none;
    }
    .btn1{
        display: none;
    }
    .span{
        display:block;
    }
    p{
        font-size: 12px;
    }
    .ul li{
        font-size: 12px;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo img{
        width: 15%;
    }
   .strong1{
    font-size: 18px;
   }
   .strong2{
    font-size: 14px;
   }
   .strong3{
    font-size: 15px;
   }
   .fo{
    width: 50%;
   }
   .fo a {
    font-size:12px ;
   }
}
@media (min-width: 481px) and (max-width: 767px){
    .span{
        display:block;
        padding: 5px 0px;
    }
    .menu{
        display: none;
    }
    .no{
        display:none;
    }
    .logo{
        width: 50%;
        display: flex;
        justify-content: space-between;
        background-color: black;
        
    }
    .btn1{
        width: 50%;
        background-color: black;
      
    }
    .btn1_a a{
        font-size: 12px;
    }
    .btn1 .btn1_a{
        margin: 8px 0px;
        width: 40%;
        margin-left: 15px;
    }
    .fo{
        width: 50%;
       }
       .fo a {
        font-size:12px ;
       }
 }
 
@media (min-width: 768px) and (max-width: 1024px){
    .logo{
        width: 60%;
    }
    .logo img{
        width: 20%;
    }
    .no{
        display: none;
    }
    .btn1{
        width: 40%;
    }
    .btn1 .btn1_a{
        margin: 10px;
        width: 40%;
        padding: 5px 0px;
    }
    .btn1_a a{
        color: white;
        text-decoration: none;
        font-size: 15px;
       }   
}
@media (min-width: 1025px) and (max-width: 1280px){
    .logo{
        width: 60%;
    }
    .logo img{
        width: 20%;
    }
    .no{
        display: none;
    }
    .btn1{
        width: 40%;
    }
    .btn1 .btn1_a{
        margin: 10px;
        width: 40%;
        padding: 5px 0px;
    }
    .btn1_a a{
        color: white;
        text-decoration: none;
        font-size: 15px;
       }   
}